* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 1fr 13vh;
}

header {
    display: grid;
    grid-template-columns: 30% 50%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: rgb(39, 39, 42);

    .link_color {
        color: #ffffff;
    }
}

main {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 30vh 1fr;
    justify-content: center;
    padding: 5vh;
    gap: 3vh;

    .cell-1 {
        grid-column: 1/5;
        border: 1px solid gray;
        border-radius: 8px;
        background-color: rgb(195, 195, 195);
    }
}

footer {
    background-color: rgb(39, 39, 42);
    color: #ffffff;
    text-align: center;
    padding-top: 5vh;
}